<%- include("partials/header.ejs")  %>

<main>
  <h1>No posts saved. Try adding one.</h1>
</main>    

<% posts.forEach(post => { %>
    
<section class="Posts">
    <div class="leftSide">
      <% if(post.cover_id === null){ %>
        <img class="book-cover" src="/images/images.png">
      <% } else { %>
        <img class="book-cover" src="https://covers.openlibrary.org/b/olid/<%= post.cover_id %>-L.jpg" alt="Book Cover">
      <% } %>
    </div>

    <div class="rightSide">
        <div class="postContainer">
            <h3 class="author"><%= post.author %>'s Review of:</h3>
            <h2 class="book-author"><%= post.book_auth %></h2>
            <div class="divider"></div>
            <p class="review"><%= post.descr %></p>
            <div class="divider"></div>
            <div class="rating-updateBox">
              <p class="rating">Rating: <%= post.rating %>/10</p>
              <button class="update-Button">Update</button>
            </div>
            <div class="date-deleteBox">
              <p class="date"><%= post.date %></p>
              <a href="/delete<%= post.id %>"><button class="delete-Button">Delete</button></a>
            </div>
        </div>
    </div>
</section>

<% });%>

<%- include("partials/footer.ejs")  %>