<%- include("partials/header.ejs")  %>

<main>
  <h1>No posts saved. Try adding one.</h1>
</main>    

<!--For each entry in the database, render the section 'posts'-->
<% posts.forEach(post => { %>
    
<section class="Posts">
    <div class="leftSide">
      <!--If coverID = Null, render a placeholder cover saved in public images folder-->
      <% if(post.cover_id === null){ %>
        <img class="book-cover" src="/images/images.png">
      <!--Otherwise, fetch the cover for the book using the open library API-->
      <% } else { %>
        <img class="book-cover" src="https://covers.openlibrary.org/b/olid/<%= post.cover_id %>-L.jpg" alt="Book Cover">
      <% } %>
    </div>
      
      <!--On right side, EJS templating displays the details for each post-->
    <div class="rightSide">
        <div class="postContainer">
            <a class="authorTag" href="/author<%= post.author %>"><h3 class="author"><%= post.author %>'s</a> Review of:</h3>
            <h2 class="book-author"><%= post.book_auth %></h2>
            <div class="divider"></div>
            <p class="review"><%= post.descr %></p>
            <div class="divider"></div>
            <div class="rating-updateBox">
              <p class="rating">Rating: <%= post.rating %>/10</p>
              <a href="/update<%= post.id %>"><button class="update-Button">Update</button></a>
            </div>
            <div class="date-deleteBox">
              <p class="date"><%= post.date %></p>
              <a href="/delete<%= post.id %>"><button class="delete-Button">Delete</button></a>
            </div>
        </div>
    </div>
</section>

<% });%>

<%- include("partials/footer.ejs")  %>